server
	host 127.0.0.1
	port 3001
	error_page 400 .pageHTLM/error_pages/400.html
	error_page 404 .pageHTLM/error_pages/404.html
	error_page 500 .pageHTLM/error_pages/500.html
	client_max_body_size 1073741824

	location /
		allow GET
		root ./.pageHTLM
		autoindex on
		index index.plop index.html index.flute

	location /testing
		allow GET
		return 404

	location /test
		allow GET
		return 404

	location /test/
		allow GET
		return 404

	location /test/slt
		allow GET
		return 404 index.html

	location /site
		allow GET POST DELETE
		autoindex off
		index index.html
		root ./.pageHTLM/site

	location /uploads
		allow POST GET
		autoindex on
		upload_store ./.pageHTLM/upload

	location /cgi-bin//.//
		allow POST GET
		root ./cgi-bin/
		cgi_handler .py /usr/bin/python
		cgi_handler .php /usr/bin/php

	location /site/login
		allow POST GET DELETE
		index login.html
		root ./.pageHTLM/site

	location /site/protected
		return 302 /site/login
		allow POST GET
	return 302 site/login
server
	host 127.0.0.1
	port 8080
	error_page 400 ./static_pages/error_pages/400.html
	error_page 404 ./static_pages/error_pages/404.html
	error_page 500 ./static_pages/error_pages/500.html
	client_max_body_size 1073741824
	location /e
		return 10
		return 302 2
	return 1
