server
	host 127.0.0.1
	host 127.0.0.1
	port 3001
	server_name hubert
	error_page 400 ./static_pages/error_pages/400.html
	error_page 404 ./static_pages/error_pages/404.html
	error_page 500 ./static_pages/error_pages/500.html
	client_max_body_size 1073741824

	location /
		allow GET
		root ./static_pages
		autoindex on
		index index.html

	location /testredirect_txt
		allow GET
		return errorText

	location /testredirect_codeErr
		allow GET
		return 404 index.html

	location /site
		allow GET POST DELETE
		autoindex off
		index index.html
		root ./static_pages/site

	location /uploads
		allow POST GET
		autoindex on
		uploads ./static_pages/upload

	location /cgi-bin/
		allow POST GET
		root ./cgi-bin/
		cgi_handler .py /usr/bin/python
		cgi_handler .php /usr/bin/php

	location /site/login
		allow POST GET DELETE
		index login.html
		root ./static_pages/site

	location /site/protected
		return /site/login
		allow POST GET
