server
	host 127.0.0.1
	port 3001
	error_page 400 .pageHTLM/error_pages/400.html
	error_page 404 .pageHTLM/error_pages/404.html
	error_page 500 .pageHTLM/error_pages/500.html
	client_max_body_size 1073741824

	location /
		allow GET
		root ./.pageHTLM
		autoindex on
		index index.plop index.html index.flute
	location /noGet
		allow POST
	location /testing
		allow GET
		return 403

	location /redir403
		allow GET
		return 403

	location /redir403/
		allow GET
		return 405 erreur a l aide !

	location /cgi-bin
		autoindex on
		allow POST GET
		alias .pageHTLM/cgi-bin/
		cgi_handler .py /usr/bin/python
		cgi_handler .php /usr/bin/php-cgi

server
	host 127.0.0.1
	port 8080
	return 302 http://localhost:3001
